:root {
    --background-color : #ffffff;
    --color-text : #002333;
    --color-secundaria : #DEEFE7;
    --color-tercearia : #159A9C;
    --color-destaque : #B4BEC9;
    --color-gostei: #002333;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-tercearia);
}
main {
    display: flex;
    flex-direction: column;
}

header {
position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    color: var(--color-text);
}

.navbar a:hover {
    background-color: var(--color-destaque);
    }

.navbar {
    display: flex;
    /* position: fixed; */
    /* text-align: right; */
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    
    
    height: 40%;
    /* top: 0;
    right: 0;
    left: 0; */
    /* block-size: 60%; */
    background-color: var(--background-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.navbar a {
    text-align: right;
    right: 0;
    padding: 10px;
  }

#navtext {
    /* margin-right: 15%; */
    /* align-items: center; */
    display: flex;
    /* vertical-align: middle; */
    /* justify-content: center; */
}



#logo {
    margin: 0;
    padding: 0;
    float: left;
    width: 333px;
    height: 100px;
    overflow: hidden;
    /* margin-left: 10%; */
}
footer {

    bottom: 0;
    /* position: fixed; */
    right: 0;
    left: 0;
    text-align: center;
    color: var(--color-gostei);
    font-size: 1.2em;
    padding: 20px;
    background-color: var(--color-destaque);
    }

    .box1 {
        background-color: var(--color-gostei);
        left: 0;
        right: 0;
        height: 300px;
    }
    .box2 {
        background-color: var(--color-secundaria);
        left: 0;
        right: 0;
        height: 300px;
    }
    .box3 {
        background-color: var(--color-tercearia);
        left: 0;
        right: 0;
        height: 300px;
    }

@media ( max-width: 450px) {
    .navbar a {
        font-size: 1rem;
    
    }
        
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;   
        height: 80px;
      
    }
    .navbar a {
        text-align: right;
        right: 0;
        padding: 10px;
      }
        
    #logo {
        width: 200px;
        height: 60px;
        overflow: hidden;
    }
    footer {
        font-size: 0.7em;
        padding: 2px;
        background-color: var(--color-destaque);
        }



}

